<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
  
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>     
     <form action="" [formGroup]="actForm"> 
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>M<span>odern</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile" >
                <div class="profile-img bg-img" style="background-image: url(assets/images/user.jpg)"></div>
                <h4>Rotaract</h4>
            
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="" class="active"  routerLink="/backoff">
                            <span class="las la-home" routerLink="/backoff" ></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                       <a href="" routerLink="/profil" >
                            <span class="las la-user-alt" routerLink="/profil" ></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-envelope"></span>
                            <small>Mailbox</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small>Projects</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content"> 
        
        
        <header>
            <div class="header-content">
                <label for="menu-toggle" >
                    <span class="las la-bars" ></span>
                </label>
                
                <div class="header-menu">
                    <label for="" >
                        <span class="las la-search" ></span>
                    </label>
                    
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                  
                    
                    
                    <div class="user">
                        <div class="bg-img" style="background-image: url()"></div>
                        
                        <span class="las la-power-off" (click)="logout()"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </header>
        
        
        <main>
            
            <div class="page-header">
                <h1>Adiministration profil</h1>
                <small>profil / Dashboard</small>
            </div>
            
            <div class="page-content">
            
                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>107,200</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>User activity this month</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>340,230</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <small>Page views</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>$653,200</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <div class="card-progress">
                            <small>Monthly revenue growth</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <small>New E-mails received</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                </div>

<!-- ------------------------------------------------------------------------------------------------------------- -->




                <section class="h-100 gradient-custom">
                    <div class="container py-5">

                       




                      <div class="row d-flex justify-content-center my-4">


<!-- ------------------------------------------------------------------------- -->
                        <div class="col-md-4">
                            <div class="card mb-4">
                              <div >
                                <h5 class="mb-0"></h5>
                              </div>
                              <div class="card-body">
                                <ul >
                                  <li
                                    class=" d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                 <img src="assets/images/user.jpg" alt="" style="border-color: black; border-radius: 1000000px; width: 150px;height: 150px; margin-left:120px;">
                                  </li> <br>
                                  <li class=" d-flex justify-content-between align-items-center px-0">
                           
                                
                                  </li>
                                  <li
                                    class="m d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                      <strong style="margin-left: 85px ; font-size: 30px;">Administrateur</strong><br>
                                      <small style="margin-left: 62px ; color: gray;">Developpeur web et responsable systeme</small>
                                  
                                    </div>
                                
                                  </li>
                                </ul>
                    
                               
                              </div>
                            </div>
                          </div>

<!-- ----------------------------------------------------------------------------------------------------- -->


<div class="col-md-8">
    <div class="card mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Full Name:</h5>
            </div>
            <p><strong>Admin YK</strong></p>
          </div>

      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">E-mail:</h5>
        </div>
        <p><strong>Admin.devWeb@gmail.com</strong></p>
      </div>

      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Phone Number</h5>
        </div>
        <p><strong>+216  26 321 501</strong></p>
      </div>
    <button (click)="showmdp()" style="width: 200px; border: none; color: rgba(0, 0, 255, 0.826);"> change Password?</button>

    <app-modif-mdp *ngIf="showmdpp"></app-modif-mdp>

    </div>
  
  






  </div>
  
                       
                      </div>
                    </div>
                  </section>
            <!-- -------------------------------------------------------------- -->
            </div>
            
        </main>
        
    </div>  </form>
    
<!-- --------------------------------------------------------------- -->














</body>
</html>

