<div class="col-sm-6">
    <div class="card " style="width: 18rem;">
        <img src="assets/images/bg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>{{active?.titre}}</strong></h5>
          <div class="line"></div>
          <!-- <p class="card-text"></p> -->
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
       
        </ul> -->
       <div><img src="assets/ressources/sablier.svg" alt="" width="20px" height="20px" style="margin-left: 20px;"> <strong style="align-self: center;">{{active?.dateDebut | date: "dd-MM-yyyy"}}</strong></div> 
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
    </div> 
</div>