<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Blabla Coffee</title>
    <style>
        .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(96, 76, 76, .6), rgba(96, 76, 76, .6)), url("assets/images/intro-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    </style>
</head>

<body>

    <header>
        <div class="logo">
            <a href="#"><img src="assets/images/logowhite.png" alt="" width="20px" height="100px" ></a>
        </div>

        <nav>
            <ul>
                <!-- <li><a href="#">Home</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#contact">Contact</a></li> -->
            </ul>
        </nav>
    </header>
<!-- <div *ngIf="activity" > -->
    
    <div class="content">
        <h1 style="color: aliceblue; font-size: 60px;">{{Activite2.titre}}</h1> <br>
        <p>Welcome to our Beloved Family '<strong style="color: rgb(214, 118, 204);">Rotaract CLUB</strong>' </p>
    </div>

    <div class="menu" id="menu">
        <div class="menu-header">
            <h3></h3>
            <h4></h4>
        </div>
        <div class="menu-content" >
            <div class="hot-coffees">
                <div class="hot-coffees-image">
                    <img src="" alt="">
                </div>
                <div class="hot-coffees-body">
                 <img [src]="Activite2.image1" alt="" height="300px" width="700px">
                    
                </div>
            </div>
            <div class="cold-coffees">
                <div class="cold-coffees-image">
                    <img src="" alt="">
                </div>
                <div class="cold-coffees-body">
                    <h2>Description</h2>
                    <label>{{Activite2.description}}</label>
                    <label>{{Activite2.nbPart}}/</label>
                    <label>{{Activite2.capacite}}</label>
                    <label>{{myDate|date:'yyyy/MM/dd'}}</label>
                    <button [disabled]="!Activite2.disponiblite" (click)="participer()">Participer</button>
                </div>
            </div>
            <div class="frappucino-coffees">
                <div class="frappucino-coffees-image">
                   
                </div>
                <div class="frappucino-coffees-body">
                   <img [src]="Activite2.image2" alt=""> 
                </div>
            </div>
        </div>
    </div>

    <div class="menu" id="menu">
      <div class="menu-content"  *ngIf="part">
        <form [formGroup]="actform" (ngSubmit)="onSubmitForm(Activite2.nbPart,Activite2.disponiblite)">
          <div>
                <label for="">id:</label>
                <input type="number" class="form-control" name="" id="" formControlName="id">
          </div>
          <div>
            <label for="">nom:</label>
            <input type="text" class="form-control" name="" id="" formControlName="nom">
          </div>
          <div>
            <label for="">prenom:</label>
            <input type="text" class="form-control" name="" id="" formControlName="prenom">
          </div>
          <div>
            <label for="">date de naissance:</label>
            <input type="date" class="form-control" name="" id="" formControlName="dateN">
          </div>
          <div>
            <label for="">adresse:</label>
            <input type="text" class="form-control" name="" id="" formControlName="adrs">
          </div>
          <div>
            <label for="">email:</label>
            <input type="email" class="form-control" name="" id="" formControlName="email">
          </div>
          <input type="submit" class="btn btn-success" value=" send " >
         
        </form>
      </div>
    </div>

<!-- </div> -->



   


    <div class="footer">
        <div class="footer-box">
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="copyright">
                <!-- <label>Copyright &copy; 2022</label> -->
            </div>
            <div class="brand">
                <label>Want to <span>join us ?</span> <input type="checkbox"></label>
            </div>
        </div>
    </div>

</body>

</html>