<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Modern Admin Dashboard</title>
  
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>     
     <form action="" [formGroup]="actForm" (ngSubmit)="Ajouter()"> 
   <input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>M<span>odern</span></h3>
        </div>
        
        <div class="side-content">
            <div class="profile" >
                <div class="profile-img bg-img" style="background-image: url()"></div>
                <h4>Rotaract</h4>
            
            </div>

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="" class="active">
                            <span class="las la-home"></span>
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                       <a href="" >
                            <span class="las la-user-alt"></span>
                            <small>Profile</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-envelope"></span>
                            <small>Mailbox</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-clipboard-list"></span>
                            <small>Projects</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-shopping-cart"></span>
                            <small>Orders</small>
                        </a>
                    </li>
                    <li>
                       <a href="">
                            <span class="las la-tasks"></span>
                            <small>Tasks</small>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        
        <header>
            <div class="header-content">
                <label for="menu-toggle" >
                    <span class="las la-bars" ></span>
                </label>
                
                <div class="header-menu">
                    <label for="" >
                        <span class="las la-search" (click)="afficherSearch()"></span>
                    </label>
                    
                    <div class="notify-icon">
                        <span class="las la-envelope"></span>
                        <span class="notify">4</span>
                    </div>
                    
                    <div class="notify-icon">
                        <span class="las la-bell"></span>
                        <span class="notify">3</span>
                    </div>
                  
                    
                    
                    <div class="user">
                        <div class="bg-img" style="background-image: url()"></div>
                        
                        <span class="las la-power-off"></span>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </header>
        
        
        <main>
            
            <div class="page-header">
                <h1>Dashboard</h1>
                <small>Home / Dashboard</small>
            </div>
            
            <div class="page-content">
            
                <div class="analytics">

                    <div class="card">
                        <div class="card-head">
                            <h2>107,200</h2>
                            <span class="las la-user-friends"></span>
                        </div>
                        <div class="card-progress">
                            <small>User activity this month</small>
                            <div class="card-indicator">
                                <div class="indicator one" style="width: 60%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>340,230</h2>
                            <span class="las la-eye"></span>
                        </div>
                        <div class="card-progress">
                            <small>Page views</small>
                            <div class="card-indicator">
                                <div class="indicator two" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>$653,200</h2>
                            <span class="las la-shopping-cart"></span>
                        </div>
                        <div class="card-progress">
                            <small>Monthly revenue growth</small>
                            <div class="card-indicator">
                                <div class="indicator three" style="width: 65%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <h2>47,500</h2>
                            <span class="las la-envelope"></span>
                        </div>
                        <div class="card-progress">
                            <small>New E-mails received</small>
                            <div class="card-indicator">
                                <div class="indicator four" style="width: 90%"></div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="records table-responsive">

                    <div class="record-header"> 
                        <div class="add">
                            <span>Entries</span>
                            <select name="" id="">
                                <option value="">ID</option>
                            </select>
                            <button>Add record</button>
                        </div>

                        <div class="browse">
                            <input type="button" value="ajouter" class="record-search" (click)=afficher()>
                          
                          <div >
                            <select name="" id="" (change)="onActiviteChange($event)"  class="form-select" aria-label="Default select example" 
                            style="margin-right: 10px; width: 200px; " >
                                <option *ngFor="let act of categories$ | async">
                                    {{ act }}
                                  </option>
                                  <option value="all">All</option>
                            </select></div>
                        </div>
                    </div>

                    <div>
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><span class="las la-sort"></span> ACTIVITIES</th>
                                    <th><span class="las la-sort"></span> NB.PARTICIPANTS</th>
                                    <th><span class="las la-sort"></span> ISSUED DATE</th>
                                    <th><span class="las la-sort"></span> CATEGORIE</th>
                                    <th><span class="las la-sort"></span> ACTIONS</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let a of lesActivites; let i = index ">
                            
                                <tr *ngIf="lesActivites.length > 0" class="result-table"  [ngClass]="{'hid':show}" >
                                  
                                    <td>#{{a.id}}</td>
                                   
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img"><img src="" alt=""></div>

                                            <div class="client-info">
                                                <h4>{{a.titre}}</h4>
                                                <!-- <small>bruno@crossover.org</small> -->
                                            </div>
                                        </div>

                                    </td>  
                                   
                                    <td>
                                        <input type="text" [value]="a.nbPart" disabled style="border: none;">
                                    </td>
                                    <td>
                                        {{a.dateDebut}}...{{a.dateFin}}
                                    </td>
                                    <td>
                                        {{a.categorie}}
                                    </td>
                                    <td>
                                        <div class="actions">
                                            <span class="lab la-telegram-plane"(click)="onSupprimer(a.id)" ></span>
                                            <span class="las la-eye" (click)="afficher2(i)"></span>
                                            <span class="las la-ellipsis-v"></span>
                                        </div> 
                                 
                                    </td>

                                 
                                  
                                    
                                  
                                </tr>
                           
                                     <tr *ngIf="detail && detailIndex === i">
                                  <ul>
                                   <li>Lieu de l'activite:{{a.lieu}}</li> 
                                 <li>a propos l'activite: <img [src]="a.image1" alt="" width="120px" height="100px">.. <img [src]="a.image2" alt="" width="120px" height="100px"></li>
                                  <li>Capacite de l'activite: {{a.capacite}}</li>
                                  <li>Disponibilité de l'activité: <input type="checkbox" [checked]="a.disponiblite" style="width: 180px;" ></li>
                                  <li>Description de l'activité: {{a.description}}</li>
                                 </ul>
                                  <button (click)="activerEdition(a,i)" >modifier </button>


                                     </tr> 
                        
                                     <tr *ngIf="isEditMode && editedActivityIndex === i">
                                        <ul>
                                          <li>ID: <input type="text" formControlName="id" ></li>
                                          <li>Titre: <input type="text" formControlName="titre" ></li>
                                          <li>Nombre de participants: <input type="text" formControlName="nbPart"></li>
                                          <li>Début de l'activité: <input type="text" formControlName="dateDebut"></li>
                                          <li>Fin de l'activité: <input type="text" formControlName="dateFin"></li>
                                          <li>Catégorie: <input type="text" formControlName="categorie"></li>
                                          <li>Lieu de l'activité: <input type="text" formControlName="lieu" style="width: 180px; "></li>
                                          <li>Capacité: <input type="text" formControlName="capacite"></li>
                                          <li>image 1: <input type="text" formControlName="image1"></li>
                                          <li>image 2: <input type="text" formControlName="image2"></li>
                                         
                                          <li>Description: <textarea formControlName="description" style="width: 180px; "></textarea></li>
                                         
                                        </ul>
                                        <button (click)="sauvegarderEdition()">Enregistrer</button>
                                      </tr>



                                
                            </tbody>
                            
                            <tr *ngIf="visible" >
                              
                                    <td># <input type="number" value="" formControlName="id" size="1">
                                        <div *ngIf="idActivity?.invalid && idActivity?.dirty" class="alert alert-danger">
                                            l'identifiant doit etre un nombre
                                        </div></td>
                                    
                                   
                                    <td>
                                        <div class="client">
                                            <div class="client-img bg-img"><img src="" alt=""></div>

                                            <div class="client-info">
                                                <h4><input type="text" value="" formControlName="titre" size="7"></h4>
                                                <div *ngIf="isValidPattern()" class="alert alert-warning">
                                                  invalide titre !!!
                                                </div>
                                                <!-- <small>bruno@crossover.org</small> -->
                                            </div>
                                        </div>

                                    </td>  
                                   
                                    <td>
                                        <input type="text" formControlName="nbPart" size="5">
                                    </td>
                                    <td>
                                        <input type="text" formControlName="dateDebut" size="7">
                                        
                                        <div *ngIf="isValidPatternDateDebut()" class="alert alert-warning">
                                            veuillez suivre ce modele(MMMM-dd-jj)!!!!
                                           </div>
                                        ...<input type="text" formControlName="dateFin" size="7"> 
                                        <div *ngIf="isValidPatternDateFin()" class="alert alert-warning">
                                            veuillez suivre ce modele(MMMM-dd-jj)!!!!
                                           </div>

                                    </td>
                                    <td>
                                        <input type="text" formControlName="categorie" size="7">
                                        <div *ngIf="isValidPatternCategorie()" class="alert alert-warning">
                                           la categorie doit comporter que des lettres!!!!
                                          </div>
                                    </td>
                                  
                                    <td>
                                        
                                       
                                    </td>
                                    <td>
                                        <div class="actions">
                                            <span class="lab la-telegram-plane"></span>
                                            <span class="las la-eye"></span>
                                            <span class="las la-ellipsis-v"></span>
                                        </div> 
                                
                                    </td>
  
                                  
                           
                                 </tr>

                               <button type="submit" *ngIf="visible" > enregistrer</button> 



                            












                        </table>
                    </div>

                </div>
            
            </div>
            
        </main>
        
    </div>  </form>
    <div  *ngIf="searchshow">
    <label for="">
        <div class="search" style="margin-left: 600px; width: 300px;">
            <input placeholder="Search..." type="text" #textbox >
            <button type="submit" (click)="chercherpartitre(textbox.value)"  >Go</button>
          </div>
    <!-- (click)=" filtrerParNom()" -->
    </label></div>
</body>
</html>

