  <!-- <app-categories></app-categories>    -->
<!-- <app-division></app-division> -->
 <!-- <app-scroll></app-scroll>      -->
 <!-- <app-acceuil></app-acceuil>  -->
  <!-- <app-fundings></app-fundings>    -->
 <!-- <app-services></app-services>      -->
 <!-- <app-cards></app-cards>  -->
  <!-- <app-essai></app-essai>  -->
 <app-accueil2></app-accueil2>  
<router-outlet></router-outlet>
<!-- <app-listcategories></app-listcategories> -->
<!-- 
 <app-fullstack></app-fullstack>  -->
 <!-- <app-search></app-search> -->
 <!-- <app-searchdate></app-searchdate> -->
 <!-- <app-connexion></app-connexion> -->
<!-- <app-modif-mdp></app-modif-mdp> -->

<!-- <router-outlet></router-outlet>   -->
<!-- <app-cards></app-cards> -->
<!-- <app-selectedactivity></app-selectedactivity> -->
<!-- <app-aboutus></app-aboutus> -->