<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
  body {
    margin: 1;
}

.flex-container {
    display: flex;
    
}

.empty-div {
    margin-left: 20%;
    flex: 1;
    height: 200px; /* Ajustez la hauteur selon vos besoins */
    background-color: dodgerblue; /* Couleur du fond du div */
    margin: 0; /* Supprime la marge entre les divs */
}

    </style>
</head>
<body style="background-image: url('assets/images/bg.jpg');top: 0;left: 0;right: 0;bottom: 0;">
    
    <!-- <img src="assets/images/bgprojet.jpg" alt="" style="height: 100%;width: 100%;z-index: -1;"> -->
    <span class="star">&#10022;</span>
    <header>
        <div class="container">
           <img src="assets/images/logowhite.png" alt="" style="width: 300px;height:120px;z-index: 99;">
           <div class="wrap">
            <div class="search" style="width:300px ;">
               <div class="searchTerm"><input type="text" class="searchTerm1" placeholder="What are you looking for?"></div>
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
            
           <div class="line" ></div><div class="line2" ></div> <div class="line3" ></div> <div class="line4" ></div> <div class="line5" ></div>
          </div>
         <!-- <app-hamburger class="hamburger"></app-hamburger > -->
         <app-hamburger class="hamburger"></app-hamburger>
        </div>
        
    </header>

    
     <main style="padding-left:2%;"> 
        <section class="banner" >
         <!-- <div class="container">
            <h3>coordination nationale</h3>
            <h1><span>Welcome</span> to our family</h1>
            <h3>Rotaract solution for all your needs</h3>
           <a  class="button">About us</a> 
         </div> -->


         
        </section>
    </main> 
    <!-- <div class="cutout">
        <h2>Cutout Section</h2>
        <p>This is the part of the page you want to cut out.</p>
    </div> -->
    <!-- <div  class="flex-container">
    <div class="empty-div"><img src="assets/images/intro-bg.jpg" alt="" height="350px" width="450px"></div>
   <div class="empty-div"></div>    
    </div>   -->
   
       
  
    
        <div class="container" style="display: flex; ">
            <div class="card-container">
                <div class="card">
                    <div class="front-content">
                        <p><img src="assets/images/intro-bg.jpg" alt="" width="300px" height="300px"></p>
                    </div>
                    <div class="content">
                        <p class="heading">Card Hover</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipii
                            voluptas ten mollitia pariatur odit, ab
                            minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                            necessitatibus dignissimos molestias.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="card-container" >
                <div class="card">
                    <div class="front-content">
                        <p>Hover me</p>
                    </div>
                    <div class="content">
                        <p class="heading">Card Hover</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipii
                            voluptas ten mollitia pariatur odit, ab
                            minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                            necessitatibus dignissimos molestias.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    </html>
    
